{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}{{ block.super }}
<script>
    (function($) {
        // Function to update the preview
        function updatePreview() {
            var questionText = $('#id_text').val() || 'Question text will appear here';
            var option1 = $('#id_option1').val() || 'Option 1';
            var option2 = $('#id_option2').val() || 'Option 2';
            var option3 = $('#id_option3').val() || 'Option 3';
            var option4 = $('#id_option4').val() || 'Option 4';
            var correctOption = $('input[name="correct_option"]:checked').val();
            
            $('.preview-question-text').text(questionText);

            $('.preview-option1').text(option1).removeClass('correct');
            $('.preview-option2').text(option2).removeClass('correct');
            $('.preview-option3').text(option3).removeClass('correct');
            $('.preview-option4').text(option4).removeClass('correct');

            $('.option-field').removeClass('correct');
            $('.option-field .correct-badge').remove();

            if (correctOption) {
                $('.preview-option' + correctOption).addClass('correct');
                $('.option-field-' + correctOption).addClass('correct')
                    .append('<span class="correct-badge">Correct Answer</span>');
            }
        }

        
        
        $('.field-text').after(previewHtml);

        $('#id_option1').closest('.form-row').addClass('option-field option-field-1');
        $('#id_option2').closest('.form-row').addClass('option-field option-field-2');
        $('#id_option3').closest('.form-row').addClass('option-field option-field-3');
        $('#id_option4').closest('.form-row').addClass('option-field option-field-4');

        $('#id_text, #id_option1, #id_option2, #id_option3, #id_option4').on('input', updatePreview);
        $('input[name="correct_option"]').on('change', updatePreview);

        updatePreview();
    })(django.jQuery);
</script>
{% endblock %}
